<!DOCTYPE html>
<html lang="en">
  <header class="site-header">
    <section class="container">
      <a href="/" class="logo"></a>      
      <h1><img src="{{ 'milledoni.png' | assets_url }}" alt="Milledoni"></h1>    
      <link rel="stylesheet" href="/style.css">
      <nav class="main-nav">
        <ul>
          <li><a href="/cadeaus">Cadeaus</a></li>
          <li><a href="/categorieën">Categorieën</a></li>
          <li><a href="/community">Community</a></li>
        </ul>
      </nav>
    </section>
  </header>